@import "header.css";
@import "nav.css";
@import "sections.css";
@import "footer.css";

html{
    scroll-behavior: smooth;
    --bg: #F8F8F8;
}

h1::before {
    content: "♥";
}

body {
    margin: 0;
    padding: 0;
    background: #0a7753;
    font-family: sans-serif;
    line-height: 30px;
    color: #050000;
}

ul {
    list-style: none;
}

a {
    color: #0e6349;
    text-decoration: none;
}

a:hover{
    color: rgb(4, 19, 13);
}